<div class="panel panel-default">
  <table class="table">
      <%= render @contacts %>
  </table>
  <% if @contacts.blank? %>
   <div class="panel-footer message">
      <div class="alert alert-warning">
          <strong>Record not found</strong>
      </div>
   </div>  
<% end %> 
</div>

<div class="text-center">
  <%= paginate @contacts %>
</div>